<div class="song-title">Stairway to Heaven by Led Zeppelin</div>
<div class="lyrics">
    There's a lady who's sure all that glitters is gold<br>
    And she's buying a stairway to Heaven<br><br>
    When she gets there she knows, if the stores are all closed<br>
    With a word she can get what she came for<br><br>
    Ooh, ooh, and she's buying a stairway to Heaven<br><br>
    There's a sign on the wall, but she wants to be sure<br>
    'Cause you know sometimes words have two meanings<br><br>
    In a tree by the brook, there's a songbird who sings<br>
    Sometimes all of our thoughts are misgiven<br><br>
    Ooh, it makes me wonder<br>
    Ooh, makes me wonder<br><br>
    There's a feeling I get when I look to the West<br>
    And my spirit is crying for leaving<br><br>
    In my thoughts I have seen rings of smoke through the trees<br>
    And the voices of those who stand looking<br><br>
    Ooh, it makes me wonder<br>
    Ooh, really makes me wonder<br><br>
    And it's whispered that soon if we all call the tune<br>
    Then the piper will lead us to reason<br><br>
    And a new day will dawn for those who stand long<br>
    And the forests will echo with laughter<br><br>
    Oh-oh-oh-oh-whoa<br><br>
    If there's a bustle in your hedgerow, don't be alarmed now<br>
    It's just a spring clean for the May queen<br><br>
    Yes, there are two paths you can go by, but in the long run<br>
    There's still time to change the road you're on<br>
    And it makes me wonder<br><br>
    Ohh, whoa<br><br>
    Your head is humming, and it won't go, in case you don't know<br>
    The piper's calling you to join him<br><br>
    Dear lady, can you hear the wind blow? And did you know<br>
    Your stairway lies on the whispering wind?<br><br>
    And as we wind on down the road<br>
    Our shadows taller than our soul<br><br>
    There walks a lady we all know<br>
    Who shines white light and wants to show<br>
    How everything still turns to gold<br><br>
    And if you listen very hard<br>
    The tune will come to you at last<br>
    When all are one, and one is all<br><br>
    To be a rock and not to roll<br><br>
    And she's buying a stairway to Heaven
</div>